body {
    font-family: Arial, sans-serif;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#resumen {
    display: none;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 30%;
    max-width: 300px;
    padding: 15px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    color: #555;
}

.card .price {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}
