body {
    font-family: Arial, sans-serif;
    background-color: #EAEAEA;
    color: #333;
}

#titulo-productos {
    text-align: center;
    font-size: 1.5em;
    color: #12172c;
    padding: 10px;
    margin: 80px 10px auto;
    width: auto;
}

#search {
    display: block;
    margin: 20px auto;
    padding: 12px;
    width: 80%;
    max-width: 500px;
    font-size: 1em;
    border: 2px solid #3a3f51;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
}

#search:focus {
    outline: none;
}

#search::placeholder {
    color: #999;
    font-style: italic;
}


#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#resumen {
    display: none;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 15%;
    max-width: 300px;
    padding: 15px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    color: #555;
}

.card .price {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}
